<header>
    <div class="container">
      <a routerLink="/" class="logo">LogApp!</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/contact">Contact us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <body>
      <div class="container">
          <textarea ng-class='color-red' readonly rows="40" cols="200" id="textarea_id" style="color:black" >{{Content}}</textarea>
      </div> 
  </body>